.table-page {
  width: 100%;
  border-spacing: 0;
  background-color: var(--second-bg-color);
}

.table-header {
  padding: 10px 0;

  color: var(--text-color-light-bg);
  border-left: 4px solid var(--main-bg-color);
  border-top: 4px solid var(--main-bg-color);
}

.score-cells {
  width: 3rem;
}

.score-cell {
  display: flex;
  justify-content: space-around;

  border-radius: 5px;
}

.round-number {
  width: 2rem;
  text-align: center;
  background-color: var(--main-bg-color);
}

.new-game-btn {
  width: 100%;
  height: 3rem;

  font-size: large;

  color: var(--text-color-dark-bg);
  border: 2px solid var(--text-color-dark-bg);
  background-color: var(--main-bg-color);
}

.reset-btn {
  width: 50%;
  height: 3rem;

  position: fixed;
  top: 49px;
  left: 70px;

  border: 3px solid var(--main-bg-color);
  border-radius: 20px;

  background: transparent;
  backdrop-filter: blur(10px);
}

.previous {
  width: 2.5rem;
  height: 3rem;

  position: fixed;
  top: 230px;

  font-size: 40px;

  border-radius: 10%;
  border: 2px solid var(--main-bg-color);
  border-left: 0;

  padding-top: 0;
  padding-bottom: 3.1rem;

  background: transparent;
  backdrop-filter: blur(5px);
}
