.players-data {
  background-color: var(--bg-color);
  color: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-data-players {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-height: 50%;
  background-color: rgb(32, 32, 32);
  padding: 1rem;
}

.form-data-players > label {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.form-data-players > submit {
  text-decoration: none;
  color: var(--btn-color);
  align-self: center;
  margin-top: 1rem;
}

.form-data-players > input {
  height: 2rem;
}
