body {
  margin: 0;
  font-family: serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

html,
body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-bg-color: purple;
  --second-bg-color: white;
  --dark-bg-color: black;
  --text-color-light-bg: black;
  --text-color-dark-bg: white;
  --alert-bg: red;
}
